* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6fb;
  color: #222;
}

/* NAVBAR */
.navbar {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  color: orange;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/* HERO */
.hero {
  height: 90vh;
  background: url("galery/Background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(0,0,0,0.6);
  padding: 40px;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.hero span {
  color: orange;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 25px;
  background: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  background: #1f2433;
  color: white;
  padding: 40px;
}

.stat-box h2 {
  font-size: 32px;
  color: orange;
}

/* SECTIONS */
section {
  padding: 60px 40px;
  text-align: center;
}

.program table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.program th, .program td {
  border: 1px solid #ddd;
  padding: 12px;
}

/* GALLERY */
.gallery {
  background: #fff;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.gallery-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}

/* CONTACT */
.contact {
  background: #f1f1f1;
}

/* FOOTER */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
